{% extends "layout.html" %}
{% block content %}

<!-- Form ============================== -->
<h2>ぼくは中身</h2>
<a href='/break'>ブレークポイントへ</a>
<form action='/create' method='post'>
  <input type='text' name='data'></input>
  <input type='submit' value='送信'>
</form>

<form action='/create_db' method='get'>
  <input type='submit' value='DB作成'>
</form>

<form action='/add_record' method='get'>
  <input type='submit' value='レコード追加'>
</form>

<h2>students list</h2>
<table>
  <tr>
    <th>id</th>
    <th>名前</th>
    <th>よみがな</th>
  </tr>
  {%  for student in students  %}
  <tr>
    <th>{{ student.id }}</th>
    <th>{{ student.name }}</th>
    <th>{{ student.kana }}</th>
  </tr>
  {% endfor %}
</table>

{% endblock %}
